#demo-table {
    font: 100% sans-serif;
    background-color: #efe;
    border-collapse: collapse;
    empty-cells: show;
    border: 1px solid #7a7;
}
#demo-table > caption {
    font: italic 100% sans-serif;
    text-align: right;
    border-top: .4em solid #4ca;
    margin: 1em 0px 0px 0px;
    caption-side: bottom;
}
#demo-table th,
#demo-table td {
    text-align: right;
    padding-right: .5em;
}
#demo-table th {
    font-weight: bold;
    padding-left: .5em;
}
#demo-table > thead > tr:first-child > th {
    text-align: center;
    color: blue;
}
#demo-table > thead > tr + tr > th {
    font-style: italic;
    color: gray;
}
#demo-table sup {
    font-size: 75%;
}
#demo-table td {
    background-color: #cef;
    padding:.5em .5em .5em 3em;
}
#demo-table tbody th:after {
    content: ":";
}
#demo-table tfoot {
    font-weight: bold;
}
#demo-table tfoot th {
    color: blue;
}
#demo-table tfoot th:after {
    content: ":";
}
#demo-table > tfoot td {
    background-color: #cee;
}
#demo-table > tfoot > tr:first-child td {
    border-top: .2em solid #7a7;
}
#demo-table tbody td {
    border:1px solid #7a7;
}
#demo-table td,
#demo-table th {
    border: solid #e0e0dc;
    border-width: 0 1px 1px 0;
    padding: 6px 8px;
    text-align: left;
}