body {
    font: 16px "Comic Sans MS", cursive;   /* created general styles for all texts elements on this page */
}
p {
    color: blue;
}
#first {
    font-style: italic;
}
strong {
    color: red;
    font: 32px serif;
}
/* .carrot {
    color: orange;
} */
.spinach {
    color: green;
}