body {
    font: 16px "Comic Sans MS", cursive;
    background: url("Blue-rule.png");
}
p {
    color: rgb(0,0,255);
}
#first {
    font-style: italic;
}
strong {
    background-color: rgb(221,221,255);
    color: rgb(255,0,0);
    font: 200% serif;
}
.spinach {
    color: rgb(0,128,0);
    background-color: rgb(221,221,255);
}